# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Env files (keep private)
.env*
!.env.example

# Vercel
.vercel

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor Files
.DS_Store
Thumbs.db

# Certificates and Secrets
*.pem

# IDEs
.vscode/
.idea/
